####  2-1. 숫자형
##### 사칙연산

In [17]:
a = 3
b = 4
a + b
a - b
a * b
a / b

0.75

##### 제곱

In [18]:
a ** b

81

##### 나눗셈 - 나머지, 몫

In [19]:
a % b
a // b

0

###  2-2. 문자열 자료형
##### 백슬래시 - 따옴표 중복사용 가능

In [20]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

#### 여러 줄 문자열
##### 이스케이프 코드 (\n, \t :탭 간격, \\\, \\', \\")

In [21]:
multiline = "Life is too short\nYou need python" 
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python


##### 문자열 연산

In [22]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [23]:
head * 2

'PythonPython'

##### 문자열 길이 구하기

In [24]:
a = "Life is too short"
len(a)

17

##### 문자열 인덱싱 - 파이썬은 0부터 시작!

In [25]:
a = "Life is too short, You need Python"
a[3]
a[-1] #뒤에서부터 첫번째(n)
a[-0] #(=a[0])

'L'

##### 문자열 슬라이싱

In [26]:
a = "Life is too short, You need Python"
a[0:4] #끝번호는 포함하지 않음 (0 <= a < 4)
a[19:] #끝까지
a[:17] #처음부터
a[:] #전체

'Life is too short, You need Python'

##### 문자열 포매팅(포맷 코드 사용)

In [27]:
"I eat %d apples." % 3 # %d(숫자 - 정수)

number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [28]:
"I eat %s apples." % "five" # %s(문자열, 소수를 넣으면 문자열로 인식!)

'I eat five apples.'

In [29]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [30]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [31]:
"Error is %d%%." % 98 #문자 % 가 필요할 때

'Error is 98%.'

##### 포맷 코드 + 숫자

In [32]:
"%10s" % "hi" #대입되는 값을 오른쪽 정렬, 나머지는 공백
"%-10sjane." % 'hi' #대입되는 값 왼쪽 정렬, 나머지는 공백
"%0.4f" % 3.42134234 #소숫점 네 번째 자리까지 나타내기
"%10.4f" % 3.42134234 #오른 쪽 정렬 ~

'    3.4213'

##### 문자열 포매팅(format 함수 사용)

In [33]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [34]:
"I eat {0} apples".format("five")

'I eat five apples'

In [35]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [36]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day) #0과 1은 순서를 의미
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3) #인덱스와 이름 혼용도 가능

'I ate 10 apples. so I was sick for 3 days.'

##### 정렬(왼쪽, 오른쪽, 가운데)

In [37]:
"{0:<10}".format("hi") #문자열의 총 자릿수는 10
"{0:>10}".format("hi")
"{0:^10}".format("hi")

'    hi    '

##### 공백 채우기

In [38]:
"{0:=^10}".format("hi")
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [39]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [40]:
"{{ and }}".format() #문자 그대로 표현하기

'{ and }'

##### f 문자열 포매팅

In [41]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [42]:
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [43]:
d = {'name':'홍길동', 'age':30} #딕셔너리
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [44]:
# f'{"hi":<10}
# f'{"hi":>10}'
# f'{"hi":^10}'
# f'{"hi":=^10}'
# f'{y:0.4f}'
# f'{{ and }}'

##### 문자열 관련 함수

In [45]:
a = "Python is the best choice"
a.count('i') #문자 개수 세기

2

In [46]:
a.find('b') #위치 알려주기1 / 존재하지 않는 문자에 '-1' 반환
a.index('t') #위치 알려주기2 / 존재하지 않는 문자에 오류 반환

2

In [47]:
",".join('abcd') #문자열 삽입

'a,b,c,d'

In [48]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [49]:
a = 'hi'
a.upper() #소문자 -> 대문자
a.lower() #대문자 -> 소문자

'hi'

In [50]:
a = " hi "
a.lstrip() #왼쪽 공백 지우기
a.rstrip() #오른쪽 공백 지우기
a.strip() #양쪽 공백 지우기

'hi'

In [51]:
a = "Life is too short"
a.replace("Life", "Your leg") #문자열 바꾸기

'Your leg is too short'

In [52]:
a.split() #문자열 나누기(공백 기준) -> 리스트로 반환

['Life', 'is', 'too', 'short']

In [53]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

###  2-3. 리스트 자료형
##### 리스트 인덱싱, 슬라이싱

In [54]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[3]
a[-1][0]
a[-1][:2]

['a', 'b']

##### 연산과 반복(*) 가능

In [55]:
a = [1, 2, 3]
#a[2] + "hi" #연산 오류 발생
str(a[2]) + "hi" #오류 해결

'3hi'


##### 리스트 수정과 삭제

In [56]:
a = [1, 2, 3]
a[2] = 4

del a[1]

##### 리스트 관련 함수들

In [57]:
a = [1, 2, 3]
a.append(4) #리스트에 요소 추가
a.append([5,6]) #자료형(리스트) 추가도 가능 
a

[1, 2, 3, 4, [5, 6]]

In [58]:
a = [1, 4, 3, 2]
a.sort() #리스트 정렬
a

[1, 2, 3, 4]

In [59]:
a = ['a', 'c', 'b']
a.reverse() #뒤집기(거꾸로)

In [60]:
a.index('a') #위치 반환/ 존재하지 않으면 오류 발생

2

In [61]:
a.insert(0, 4) #리스트에 요소 삽입(0번째에 4를 삽입)

In [62]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3) #첫 번째로 나오는 3을 제거

In [63]:
a.pop() #맨 마지막 요소 반환, 삭제
a.pop(1) # 1번째 요소 반환, 삭제

2

In [64]:
a.count(1) #요소의 개수세기

2

In [65]:
a = [1,2,3]
a.extend([4,5]) #리스트 확장/ 리스트만 올 수 있다

###  2-4. 튜플 자료형

In [66]:
t2 = (1,) #1개의 요소일 때 반드시 콤마
t3 = (1, 2, 3)
t4 = 1, 2, 3 #괄호 생략가능


###### 요소값 삭제와 변경이 불가능하다.
###### 인덱싱과 슬라이싱 가능
###### 튜플 더하기, 곱하기 가능
###### len() 함수로 길이 구하기 가능

###  2-5. 딕셔너리 자료형

In [67]:
a = {1: 'hi'} 
a = { 'a': [1,2,3]}

##### 딕셔너리 쌍 추가하기

In [68]:
a = {1: 'a'}
a[2] = 'b'
a
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 3: [1, 2, 3]}

##### 딕셔너리 요소 삭제하기

In [69]:
del a[1] #해당 key에 맞는 쌍이 삭제됨

##### key 사용 value 얻기

In [70]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

###### 동일한 key가 존재하면 하나를 제외한 나머지 것들이 모두 무시된다.
###### key에는 리스트를 쓸 수 없다.

##### 딕셔너리 관련 함수들

In [71]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys() #key 리스트 만들기/ append, insert, pop 등 함수 수행은 불가

dict_keys(['name', 'phone', 'birth'])

In [72]:
for k in a.keys():
    print(k)

name
phone
birth

In [73]:
a.values() #value 리스트 만들기

dict_values(['pey', '0119993323', '1118'])

In [74]:
a.items() #key, value 쌍 얻기

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [75]:
a.clear() #쌍 모두 지우기

In [76]:
a.get('name') #key 사용 value 얻기

In [77]:
print(a.get('nokey')) #none 반환
print(a['nokey']) #오류 발생
a.get('foo', 'bar') #'foo'가 존재하지 않으면 'bar'(디폴트 값) 반환

None

KeyError: 'nokey'

In [ ]:
'name' in a #조사하기 (True/False)

###  2-6. 집합 자료형

In [ ]:
s1 = set([1,2,3])
s2 = set("Hello")

###### 중복허용하지 않음(필터 역할)
###### 순서가 없음 -> 인덱싱 불가 -> 리스트 or 튜플로 변환

In [ ]:
l1 = list(s1)
l1[0]

In [ ]:
t1 = tuple(s1)
t1[0]

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

##### 교집합

In [ ]:
s1 & s2
s1.intersection(s2)

##### 합집합 


s1 - s2
s1.difference(s2)

In [ ]:
s1 | s2
s1.union(s2)

##### 차집합

In [ ]:
s1 - s2
s1.difference(s2)


##### 집합 자료형 관련 함수들

In [ ]:
s1 = set([1, 2, 3])
s1.add(4) #값 1개 추가하기
s1

In [ ]:
s1.update([5,6]) #값 여러 개 추가하기
s1

In [ ]:
s1.remove(2) #특정 값 제거하기
s1

###     2-7. 불 자료형

###### 참(True)과 거짓(False) 를 나타내는 자료형이다. 
###### 위 2가지 값만을 가질 수 있다.

In [ ]:
a=True
type(a)

bool

In [ ]:
1 == 1

True

In [ ]:
2 < 1

False

###### 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면(" ", [ ], ( ), { }) 거짓이 된다. 
###### 숫자에서는 그 값이 0일 때 거짓이 된다.

In [ ]:
# "python"	참
# ""	    거짓
# [1, 2, 3]	참
# []	    거짓
# ()	    거짓
# {}	    거짓
# 1	        참
# 0	        거짓
# None	    거짓

In [ ]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

#조건문이 참인 동안 조건문 안에 있는 문장 반복 수행

4
3
2
1

In [ ]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [ ]:
if [1, 2, 3]:
    print("참")
else:
    print("거짓")

참

##### 불 연산

In [ ]:
bool('python')

In [ ]:
bool('')

### 2-8. 자료형의 값을 저장하는 공간, 변수

##### 변수 만드는 방법
###### '=' 기호 사용하기
###### 변수 이름 = 변수에 저장할 값

In [ ]:
a = 1
b = "python"
c = [1,2,3]

In [ ]:
a = [1, 2, 3]
id(a) #a 변수가 가리키는 메모리의 주소

##### 리스트 복사

In [ ]:
a = [1, 2, 3]
b = a

In [ ]:
id(a)

In [ ]:
id(b) #a가 가리키는 대상과 b가 가리키는 대상이 동일하다

In [ ]:
a is b #a와 b가 가리키는 객체는 동일한가?

In [ ]:
a[1] = 4
a

In [ ]:
b #동일하게 수정됨

##### 주소는 다르게 복사하는 방법
###### 1. [:] 이용

In [ ]:
a = [1, 2, 3]
b = a[:]
a[1] =4
a

[1, 4, 3]

In [ ]:
b #변경되지 않음

[1, 2, 3]

###### 2. copy 모듈 이용

In [ ]:
from copy import copy
a = [1, 2, 3]
b = copy(a) #b = a[:], b = a.copy() 와 동일하다.

In [ ]:
b is a

##### 변수를 만드는 여러 가지 방법

In [ ]:
a, b = ('python', 'life')
# (a, b) = 'python', 'life' 동일
# 튜플로 a, b에 값을 대입하기
a

'python'

In [ ]:
[a,b] = ['python', 'life']
# 리스트로 변수를 만들기
a

'python'

In [ ]:
a = b = 'python'
# 여러 개의 변수에 같은 값 대입하기

In [ ]:
a = 3
b = 5
a, b = b, a

In [ ]:
a

In [ ]:
b # a와 b의 값이 바뀐다.